*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background: #0d0d0d;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: none;
  text-align: left;
}

h1, h2, h3, p { margin: 0; }
